[Unit]
Description=prometheus node exporter

[Service]
WorkingDirectory=BASE_DIR
StandardOutput=file:LOG_DIR/node_exporter.log
StandardError=file:LOG_DIR/node_exporter.log
ExecStart=/bin/sh ./start.sh
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
