[Unit]
Description=ElasticSearch Service
After=network.target

[Service]
User=koqizhao
Group=koqizhao
WorkingDirectory=BASE_DIR
ExecStart=BASE_DIR/elasticsearch.sh start
ExecStop=BASE_DIR/elasticsearch.sh stop 300
Restart=always
RestartSec=10
TimeoutSec=360

[Install]
WantedBy=multi-user.target
