[Unit]
Description=ETCD Keeper Service

[Service]
User=koqizhao
Group=koqizhao
WorkingDirectory=BASE_DIR
StandardOutput=file:LOG_DIR/etcdkeeper.log
StandardError=file:LOG_DIR/etcdkeeper.log
ExecStart=/bin/sh ./start.sh
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
