[Unit]
Description=Prometheus Alert Manager

[Service]
User=koqizhao
Group=koqizhao
WorkingDirectory=/home/koqizhao/monitoring/metric/alertmanager
StandardOutput=file:/home/koqizhao/monitoring/metric/logs/alertmanager/alertmanager.log
StandardError=file:/home/koqizhao/monitoring/metric/logs/alertmanager/alertmanager.log
ExecStart=/bin/sh ./start.sh
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
