[Unit]
Description=thanos query

[Service]
User=koqizhao
Group=koqizhao
WorkingDirectory=/home/koqizhao/monitoring/metric/thanos/thanos-query
StandardOutput=file:/home/koqizhao/monitoring/metric/logs/thanos/thanos-query/thanos-query.log
StandardError=file:/home/koqizhao/monitoring/metric/logs/thanos/thanos-query/thanos-query.log
ExecStart=/bin/sh ./start.sh
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
