[Unit]
Description=COMPONENT service
After=network.target

[Service]
Group=koqizhao
User=koqizhao
LimitNOFILE=65536
WorkingDirectory=BASE_DIR
StandardOutput=file:LOG_DIR/COMPONENT.log
StandardError=file:LOG_DIR/COMPONENT.log
ExecStart=BASE_DIR/start.sh
ExecStop=BASE_DIR/bin/catalina.sh stop
Restart=always
RestartSec=30
TimeoutSec=600

[Install]
WantedBy=multi-user.target