[Unit]
Description=Grafana Visualization System

[Service]
User=koqizhao
Group=koqizhao
WorkingDirectory=/home/koqizhao/monitoring/metric/grafana
StandardOutput=file:/home/koqizhao/monitoring/metric/logs/grafana/grafana.log
StandardError=file:/home/koqizhao/monitoring/metric/logs/grafana/grafana.log
ExecStart=/bin/sh ./start.sh
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
