[Unit]
Description=FileBeat Log Collector

[Service]
WorkingDirectory=BASE_DIR
ExecStart=BASE_DIR/filebeat -e
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
