[Unit]
Description=Prometheus Metric System

[Service]
User=koqizhao
Group=koqizhao
WorkingDirectory=BASE_DIR
StandardOutput=file:LOG_DIR/prometheus.log
StandardError=file:LOG_DIR/prometheus.log
ExecStart=/bin/sh ./start.sh
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
