[Unit]
Description=Prometheus Metric System

[Service]
User=koqizhao
Group=koqizhao
WorkingDirectory=/home/koqizhao/monitoring/metric/prometheus
StandardOutput=file:/home/koqizhao/monitoring/metric/logs/prometheus/prometheus.log
StandardError=file:/home/koqizhao/monitoring/metric/logs/prometheus/prometheus.log
ExecStart=/bin/sh ./start.sh
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
