[Unit]
Description=Grafana Visualization System

[Service]
WorkingDirectory=/home/koqizhao/grafana/grafana
ExecStart=/home/koqizhao/grafana/grafana/bin/grafana-server web
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
