[Unit]
Description=Kibana

[Service]
User=koqizhao
Group=koqizhao
WorkingDirectory=BASE_DIR
ExecStart=BASE_DIR/bin/kibana
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
