[Unit]
Description=Kafka Manager
After=network.target kafka.service

[Service]
WorkingDirectory=DEPLOY_PATH
ExecStartPre=/bin/rm -rf DEPLOY_PATH/RUNNING_PID
ExecStart=DEPLOY_PATH/bin/kafka-manager -Dhttp.port=9000
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
