[Unit]
Description=Kafka Exporter Service
After=network.target zookeeper.service

[Service]
WorkingDirectory=/home/koqizhao/kafka/kafka-exporter
ExecStart=/home/koqizhao/kafka/kafka-exporter/start.sh
ExecStop=/home/koqizhao/kafka/kafka-exporter/stop.sh
Restart=always
RestartSec=10
TimeoutSec=360

[Install]
WantedBy=multi-user.target
