
[mysqld]
basedir=BASE_DIR/mysql
datadir=BASE_DIR/data/mysql
log-error=BASE_DIR/logs/mysql/mysql.err
pid-file=BASE_DIR/logs/mysql/mysql.pid
bind-address=0.0.0.0
port=3306
log_bin=mysql-binlog
server-id=SERVER_ID
auto_increment_increment=INC_INC
auto_increment_offset=INC_OFFSET
log-slave-updates
sync_binlog=1
