[Unit]
Description=prometheus mysqld_exporter

[Service]
User=koqizhao
Group=koqizhao
WorkingDirectory=BASE_DIR
StandardOutput=file:LOG_DIR/mysqld_exporter.log
StandardError=file:LOG_DIR/mysqld_exporter.log
ExecStart=/bin/sh ./start.sh
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
