[Unit]
Description=Kafka Service
After=network.target zookeeper.service

[Service]
WorkingDirectory=/home/koqizhao/kafka/kafka
ExecStart=/home/koqizhao/kafka/kafka/kafka.sh start
ExecStop=/home/koqizhao/kafka/kafka/kafka.sh stop 300
Restart=always
RestartSec=10
TimeoutSec=360

[Install]
WantedBy=multi-user.target
