[Unit]
Description=jmx exporter

[Service]
ExecStart=/bin/sh /home/koqizhao/jmx-exporter/start.sh
ExecStop=/bin/sh /home/koqizhao/jmx-exporter/stop.sh
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
