[Unit]
Description=Kafka Exporter Service
After=network.target zookeeper.service

[Service]
WorkingDirectory=DEPLOY_PATH
ExecStart=/bin/sh DEPLOY_PATH/start.sh
ExecStop=/bin/sh DEPLOY_PATH/stop.sh
Restart=always
RestartSec=10
TimeoutSec=360

[Install]
WantedBy=multi-user.target
