[Unit]
Description=Kibana

[Service]
User=koqizhao
Group=koqizhao
WorkingDirectory=/home/koqizhao/elk/kibana
ExecStart=/home/koqizhao/elk/kibana/bin/kibana
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
