[Unit]
Description=jmx exporter

[Service]
User=koqizhao
Group=koqizhao
WorkingDirectory=/home/koqizhao/monitoring/metric/jmx_exporter
StandardOutput=file:/home/koqizhao/monitoring/metric/logs/jmx_exporter/jmx_exporter.log
StandardError=file:/home/koqizhao/monitoring/metric/logs/jmx_exporter/jmx_exporter.log
ExecStart=/bin/sh ./start.sh
ExecStop=/bin/sh ./stop.sh
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
