[Unit]
Description=prometheus pushgateway

[Service]
User=koqizhao
Group=koqizhao
WorkingDirectory=BASE_DIR
StandardOutput=file:LOG_DIR/pushgateway.log
StandardError=file:LOG_DIR/pushgateway.log
ExecStart=/bin/sh ./start.sh
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
